:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #29231e;
  background: #f5f0e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

main {
  max-width: 40rem;
  margin: 0 auto;
  padding: 3rem 1.25rem;
}

h1 {
  color: #963f3f;
}
